<h2>Cadastre-se para acessar</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group" *ngFor="let field of ['nome', 'email', 'senha']">
    <label [for]="field">
      <strong>{{ field | titlecase }}</strong>
    </label>
    <input
      [formControlName]="field"
      [type]="field === 'senha' ? 'password' : 'text'"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          formulario.get(field)?.invalid && formulario.get(field)?.touched
      }"
      [placeholder]="'Informe a ' + field" />
    <div
      *ngIf="formulario.get(field)?.invalid && formulario.get(field)?.touched"
      class="invalid-feedback">
      {{ getErrorMessage(field) }}
    </div>
  </div>

  <button
    [disabled]="formulario.invalid"
    type="submit"
    class="btn btn-primary float-end">
    Cadastrar
  </button>
</form>
