<div class="container">
  <div class="container__description">
    <h1>O controle de suas finanças em único lugar</h1>
    <p>
      Esta aplicação foi desenvolvida para auxiliar as pessoas a terem um melhor
      gerenciamento.
    </p>
    <p>
      Registre seus proventos e despesas e tenha um balanço claro e preciso.
    </p>
    <p>
      Com Finances você controla seus assuntos financeiros de forma fácil e
      intuitiva.
    </p>

    <div>
      <img
        title="image author: Designed by stories / Freepik"
        src="./assets/img/image1.png"
        alt="image author: Designed by stories / Freepik"
      />
    </div>
  </div>

  <div class="container__actions">
    <h1>Fazer login para acessar o sistema</h1>

    <p>Possuí uma conta?</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite o email" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Digite sua senha" />
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" type="submit">Login</button>

    <h3>Não está cadastrado?</h3>
    <button mat-raised-button color="secondary">Criar conta</button>
  </div>
</div>
