html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #3f51b5;
  --secondary-color: #6c757d;
  --accent-color: #e83e8c;
  --text-color: #ffffff;
}
